* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  
    * {
      pointer-events: none;
    }
  }
  
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-family: inherit;
  }