@use "../abstracts/" as *;

@font-face {
    font-family: regularInter ;
    src: url(../assets/fonts/Inter_28pt-Regular.ttf) format("truetype");
}
body {
    font-family: $primary-font;
    font-weight: 400;
    font-size: pxToRem(14);
    max-width: 1440px;
    margin: 0 auto;
    min-width: 375px;
}
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background-color: $background-color;
}