@use "../../../abstracts/" as *;
@use "../../../base/" as *;

.customer-detail-container {
    @include flex($display: flex, $direction: column, $align: flex-start, $gap: 24px);
    background-color: $background-color-second;
    align-self: stretch;
    padding: 32px 24px;

    &_head {
        @include flex($display: flex, $align: flex-end, $gap: 24px);
        align-self: stretch;

        &-button {
            @include flex($display: flex, $align: flex-end, $gap: 16px);


            button {
                border-radius: 8px;
                padding: 10px 14px;

                a {
                    @include flex($display: flex, $justify: center, $align: center, $gap: 4px);
                    @include font($font-size: 14px, $font-weight: 600, $line-height: 20px);
                    letter-spacing: 0.07px;
                }
            }

            .button-middle {
                @include color($color: $nav-color, $background: #DEDEFA);
            }

            .button-blue {
                @include color($color: $background-color, $background: $nav-color);

            }
        }
    }
}