@use "../../../abstracts/" as *;
@use "../../../base/" as *;

.order-container {
    @include flex($display: flex, $direction: column, $align: flex-start, $gap: 24px);
    align-self: stretch;
    background-color: $background-color-second;

    padding: 32px 24px;

    .order-headtop-container {
        @include flex($display: flex, $align: flex-end, $gap: 24px);
        align-self: stretch;

        .button-container {
            @include flex($display: flex, $align: flex-start, $gap: 16px);

            button {
                border-radius: 8px;
                padding: 10px 14px;

                a {
                    @include flex($display: flex, $justify: center, $align: center, $gap: 4px);
                    @include font($font-size: 14px, $font-weight: 600, $line-height: 20px);
                    letter-spacing: 0.07px;
                }
            }

            .button-middle {
                @include color($color: $nav-color, $background: #DEDEFA);
            }

            .button-blue {
                @include color($color: $background-color, $background: $nav-color);

            }
        }
    }

    .order-headbottom-container {
        @include flex($display: flex, $justify: space-between, $align: flex-start);
        align-self: stretch ;

        .order-container-chevron {
            background-color: $background-color;
            @include flex($display: flex, $align: flex-start);
            @include boder($boder-radius: 8px, $boder: 1px solid $neutral-gray-gray);
            padding: 4px;

            ul {
                @include flex($display: flex, $align: flex-start);

                .tab-link {
                    @include flex($display: flex, $align: center, $justify: center, $gap: 8px);
                    border-radius: 6px;
                    padding: 6px 12px;

                    a {

                        @include color($color: $color-second-font);

                        span {
                            @include font($font-family: $primary-font, $font-size: 14px, $font-weight: 500, $line-height: 20px);
                            letter-spacing: 0.07px;
                        }
                    }
                }

                .tab-link-active {
                    @include color($background: $button-tab-color);

                    a {
                        span {
                            color: $color-font-blue;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .button-container{
            @include flex($display: flex, $align: flex-start, $gap: 16px);
            .button-white{
                @include boder($boder-radius:8px, $boder: 1px solid $neutral-gray-gray);
                @include font($font-size: 14px, $font-weight: 600, $line-height: 20px);
                @include color($color: $color-second-font, $background: $background-color);
                letter-spacing: 0.07px;
                
            }
            button:nth-child(1){
                a{
                    @include flex($display: flex, $align: center, $justify: center);
                    padding-right: 14px;
                }
            }
            button:nth-child(2){
                a{
                    @include flex($display: flex, $align: center, $justify: center, $gap: 8px);
                    padding: 10px 14px;
                }
            }
        }
    }
    .order-container-list{
        background-color: $background-color;
        box-shadow: 0px 1.5px 2px 0px rgba(16, 24, 40, 0.10);
        @include boder($boder-radius: 8px, $boder: 1px solid $neutral-gray-gray);
        table{
            thead{
                background-color: $neutral-gray-gray-25;
                tr{
                    border-bottom: 1px solid var(--Neutral-Gray-Gray-50, #F0F1F3);
                }
            }
        }
    }
}
