//Variables color
$background-color:#ffff;
$boder-color: black;
$nav-color: #5C59E8;
$li-child3-color: #EFEFFD;

//variable color of font
$color-primary-font: #333843;
$color-second-font:#667085;
$color-th-font: #FFFFFF;

//font
$primary-font: 'Inter', sans-serif;;

//variables of size
$node-size: calc(1440px - 263px);