//Variables color
$background-color:#ffff;
$background-color-second:#f9f9fc;
$boder-color: black;
$nav-color: #5C59E8;
$li-child3-color: #EFEFFD;
$li-line-color:#F0F1F3;
$neutral-gray-gray:#E0E2E7;
$neutral-gray-gray-50:#F0F1F3;
$neutral-gray-gray-25:#F9F9FC;
$button-tab-color:#DEDEFA;

//variable color of font
$color-primary-font: #333843;
$color-second-font:#667085;
$color-th-font: #FFFFFF;
$color-name-font:#1A1C21;
$color-font-blue:#4543AE;

//font
$primary-font: 'Inter', sans-serif;;

//variables of size
$node-size: calc(1440px - 263px);   