//Variables color
$background-color:#ffff;
$background-color-second:#f9f9fc;
$boder-color: black;
$nav-color: #5C59E8;
$li-child3-color: #EFEFFD;
$li-line-color:#F0F1F3;
$neutral-gray-gray:#E0E2E7;
$neutral-gray-gray-50:#F0F1F3;
$neutral-gray-gray-25:#F9F9FC;
$neutral-Black-Black-500: #667085;
$button-tab-color:#DEDEFA;
$secondary-Green-Green-500:#0D894F;
$secondary-Green-Green-50:#E7F4EE;
$secondary-Red-Red-50:#FEEDEC;
$secondary-Red-Red-500: #F04438;
$secondary-Yellow-Yellow-50: #FDF1E8;
$secondary-Yellow-Yellow-500: #E46A11;


//variable color of font
$color-primary-font: #333843;
$color-second-font:#667085;
$color-th-font: #FFFFFF;
$color-name-font:#1A1C21;
$color-font-blue:#4543AE;

//font
$primary-font: 'Inter', sans-serif;;

//variables of size
$node-size: calc(1440px - 263px);   