@use "../../../abstracts/" as *;
@use "../../../base/" as *;

.card-container_list-item {
    @include color($background: $background-color);
    @include size($width: 264px, $height: 160px);
    @include boder($boder-radius: 8px, $boder: 1px solid $neutral-gray-gray);
    @include flex($display: flex, $direction: column, $align: flex-start, $gap: 16px);

    box-shadow: 0px 1.5px 2px 0px rgba(16, 24, 40, 0.10);
    flex: 1 0 0;
    padding: 20px;

    figure {
        img {

        }
    }

    div {
        @include flex($display: flex, $direction: column, $align: flex-start, $gap: 8px);

        align-self: stretch;

        span {
            @include color($color: $color-second-font);
            @include font($font-family: $primary-font, $font-size: 16px, $font-weight: 500, $line-height: 24px);

            letter-spacing: 0.08px;
        }

        div {
            @include flex($display: flex, $direction: row, $align: center, $gap: 8px);

            .sale {
                @include color($color: $color-primary-font);
                @include font($font-size: 24px, $line-height: 32px);

                letter-spacing: 0.12px;
            }

            .grow {
                @include color($color: #0D894F, $background: #E7F4EE);
                @include boder($boder-radius: 100px);
                @include font($font-size: 12px, $font-weight: 600, $line-height: 18px);

                text-align: center;
                letter-spacing: 0.06px;
                padding: 2px 6px;
            }
        }
    }
}
