@use "../../../abstracts/" as *;
@use "../../../base/" as *;

.category-container-table {
    @include flex($display: flex, $direction: column, $align: flex-start);
    background-color: $background-color;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid $neutral-gray-gray;
    box-shadow: 0px 1.5px 2px 0px rgba(16, 24, 40, 0.10);

    .table-category{
        thead{
            tr{
                @include flex($display: flex, $align: flex-start);
                th{
                    @include flex($display: flex, $align: flex-start, $gap: 8px);
                    align-self: stretch;
                    border-bottom: 1px solid $neutral-gray-gray;
                    background-color: $neutral-gray-gray-25;
                    padding: 18px 22px;
                    width: 131px;
                    div{
                        @include flex($display: flex, $align: center, $gap: 8px);
                        width: 260px;
                        align-self: stretch;
                    }
                    span{
                        @include font($font-size: 14px, $font-weight: 500, $line-height: 20px);
                        color: $color-primary-font;
                        letter-spacing: 0.07px;
                        text-align: left;
                        flex: 1 0 0;
                    }
                    input[type="checkbox"] {
                        width: 20px;
                        height: 20px;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        border: 2px solid $color-second-font;
                        border-radius: 4px;
                        outline: none;
                        cursor: pointer;
                        background-color: #fff;
                    }
            
                    input[type="checkbox"]:checked {
                        background-color: $nav-color;
                        border-color: $nav-color;
                    }
            
                    input[type="checkbox"]:checked::after {
                        content: '\2713'; 
                        color: white;
                        font-size: 16px;
                        display: block;
                        text-align: center;
                        line-height: 20px;
                    }   
                }
                th:first-child{
                    width: 610px;
                    div{
                        width: 572px;
                    }
                }
                th:last-child{
                    width: 120px;
                }
            }
        }
        tbody{
            background-color: $background-color;
            tr{
                @include flex($display: flex);
                td{
                    @include flex($display: flex, $align: center, $gap: 8px);  
                    border-bottom: 1px solid $neutral-gray-gray-50;
                    align-self: stretch;
                    padding: 18px 22px;

                    @include font($font-size: 14px, $font-weight: 500, $line-height: 20px);
                    letter-spacing: 0.07px;
                    color: $color-second-font;
                    width: 131px;
                    text-wrap: nowrap;
                    input[type="checkbox"] {
                        width: 20px;
                        height: 20px;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        border: 2px solid $color-second-font;
                        border-radius: 4px;
                        outline: none;
                        cursor: pointer;
                        background-color: #fff;
                    }
            
                    input[type="checkbox"]:checked {
                        background-color: $nav-color;
                        border-color: $nav-color;
                    }
            
                    input[type="checkbox"]:checked::after {
                        content: '\2713'; 
                        color: white;
                        font-size: 16px;
                        display: block;
                        text-align: center;
                        line-height: 20px;
                    }
                    .div-span{
                        @include flex($display: flex, $direction: column, $align: flex-start, $gap: 4px);
                        span:first-child{
                            color: $color-primary-font;
                        }
                        span:last-child{
                            @include font($font-size: 12px, $font-weight: 400, $line-height: 18px);
                            letter-spacing: 0.06px;
                            color: $color-second-font;
                        }
                    }
                }
                td:first-child{
                    width: 610px;
                }
                td:last-child{
                    width: 120px;
                    .delete-icon{
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
}